@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
:root {
  --HeaderFooter: #1c1e53;
  --PrimaryColor: #282938;
  --DotColor: #2405f2;
  --WhteColor: #fff;
  --BannerColor: #f4f5f5;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ====================== navbar part css start =================== */
#navbar_part .coustom_navbar {
  background-color: var(--HeaderFooter);
}
#navbar_part .coustom_navbar .btn button {
  background-color: transparent;
  padding: 18px 48px;

  border-radius: 41px;
  border: 2px solid #f4f6fc33;
}
#navbar_part .coustom_navbar .btn button a {
  color: var(--WhteColor, #fff);
  font-size: 16px;
  font-weight: 500;
}
#navbar_part .coustom_navbar ul li a {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  margin-right: 29px;
}
#navbar_part .coustom_navbar ul li a:hover {
  color: var(--WhteColor);
}
/* ====================== navbar part css end ================= */
/* ====================== about part css start ================= */
#abuot_part {
  padding: 220px 0 228px;
}
#abuot_part .about_left h5 {
  color: var(--PrimaryColor, #282938);
  font-size: 18px;
  font-weight: 500;
}
#abuot_part .about_left h1 {
  color: var(--PrimaryColor, #282938);
  font-size: 50px;
  font-weight: 600;
  line-height: 74px;
}
#abuot_part .about_left p {
  color: var(--PrimaryColor, #282938);
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
/* ====================== about part css end ================= */
/* ====================== goal part css start ================= */
#goal_part .goal_text {
  background-color: var(--BannerColor);
  padding: 80px 0;
}
#goal_part .goal_text .goal_content h5 {
  color: var(--PrimaryColor, #282938);
  font-size: 16px;
  font-weight: 500;
}
#goal_part .goal_content h2 {
  color: var(--PrimaryColor, #282938);
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 10px;
}
#goal_part .goal_content p {
  color: var(--PrimaryColor, #282938);
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
/* ====================== goal part css end ================= */
/* ====================== process part css start ================= */
#process_part {
  padding: 100px 0;
}
#process_part .process_title h2 {
  color: var(--PrimaryColor, #282938);
  font-size: 48px;
  font-weight: 600;
}
#process_part .process_title h2 {
  text-align: center;
}
#process_part .process_content .dot_element span {
  position: relative;
}
#process_part .process_content .dot_element span::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: var(--DotColor);
  border-radius: 50%;
  top: -2px;
  left: 0;
}
#process_part .process_content .dot_element img {
  margin-left: 45px;
}
#process_part .process_content .process_text h2 {
  color: var(--PrimaryColor, #282938);
  font-size: 20px;
  font-weight: 500;
}
#process_part .process_content .process_text p {
  color: var(--PrimaryColor, #282938);
  font-size: 11px;
  font-weight: 400;
  line-height: 28px;
}
/* ====================== process part css end ================= */
/* ====================== mission part css end ================= */
#Mission_part {
  padding: 150px 0;
  background-color: var(--BannerColor);
}
#Mission_part .Mission_left h5 {
  color: var(--PrimaryColor, #282938);
  font-size: 18px;
  font-weight: 500;
}
#Mission_part .Mission_left h2 {
  color: var(--PrimaryColor, #282938);
  font-size: 37px;
  font-weight: 600;
}
#Mission_part .Mission_left p {
  color: var(--PrimaryColor, #282938);
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
/* ====================== mission part css end ================= */
